<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="images/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"

    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
      <style>
        .carousel-open:checked+.carousel-item {
          position: static;
          opacity: 100;
        }

        .carousel-item {
          -webkit-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
        }

        #carousel-1:checked~.control-1,
        #carousel-2:checked~.control-2,
        #carousel-3:checked~.control-3 {
          display: block;
        }

        .carousel-indicators {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 10;
        }

        #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
          color: #2b6cb0;
          /*Set to match the Tailwind colour you want the active one to be */
        }
      </style>
    <title>Dashboard | Tailwind Starter Kit by Creative Tim</title>
  </head>
<body>
    
    <%- include('../partials/header'); %>
    
    <div class="flex">

    
        <%- include('../partials/navbar'); %>

        <div class="bg-gray-100   justify-center container  w-full ">
            <div class=" mx-2">
                    
                <div class="lg:flex-row mt-2 justify-between flex flex-col ">
                  
                    <div class=" lg:w-1/2 sm:mr-2 " >
                      <div class=" bg-red-700 h-14 w-full border-spacing-2 border-2 border-black mt-2 flex justify-around items-center text-white font-extrabold">
                        Pasos Para Pagar
                      </div>
                        <div class="border border-gray-700  p-3 mt-2">
                              <ol   >
                                <li> 1. Deberá realizar la transacción a la cuenta bancaria que 
                                  se muestra en la parte baja.</li> <br>
                                <li>2.  Deberá tomar una foto del Voucher y subir al apartado
                                  donde pide "Subir Voucher"</li><br>
                                <li>3.  Deberá presionar el botón "Enviar", y esperar hasta su
                                  verificación en el área de Tesorería.</li><br>
                                <li>4.  Esperé el anuncio de "aceptación"  en el apartado de 
                                  Noticias  de su barra de navegación "Inicio"</li>
                              </ol>

                        </div>

                        <div class="border border-gray-700 mt-2 p-3">
                          <ul>
                            <li>Cuenta Bancaria: 844_22511-661_6111 </li>
                            <br>
                            <br>
                            <li>Monto Total: xxxxx soles.</li>
                            
                          </ul>
                      
                        </div>

                        <div class="border border-gray-800 mt-2 p-3">
                          
                          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Subir vouchers</label>
                          <br>
                          <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-900 dark:placeholder-gray-400" id="file_input" type="file">
                          <div class="w-full flex justify-end m-2 px-2">
                          <button class="bg-blue-400 hover:bg-blue-800 border-gray-500 font-bold align-bottom px-3 text-zinc-500 hover:text-white rounded-lg justifi-right"> Guardar </button>
                          </div>
                        </div>

                    </div>

                    <div class="   md:mt-0">

                      <div class=" bg-red-700 h-14 w-full border-spacing-2  border-2 border-black mt-2 flex justify-around items-center text-white font-extrabold">
                        Muestra de plantillas de Certificado
                      </div>
                        
                        <div class="carousel rounded relative overflow-auto shadow-xl mt-2  border-2 border-black">
                            <div class="carousel-inner relative overflow-auto  bg-red-700">
                                <!--Slide 1-->
                                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                                    checked="checked">
                                <div class="carousel-item  opacity-0 justify-center fixed max-h-[30rem]" >
                                    <img src="images/ch1.jpg" alt="">
                                </div>
                                <label for="carousel-3"
                                    class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer  font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center"><i
                                    class="fas fa-angle-left mt-3"></i></label>
                                <label for="carousel-2"
                                    class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                                    class="fas fa-angle-right mt-3"></i></label>
                        
                                <!--Slide 2-->
                                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                                <div class="carousel-item  opacity-0 fixed max-h-[30rem]" >
                                    <img src="images/ch2.jpg" alt="">
                                </div>
                                <label for="carousel-1"
                                    class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                                    class="fas fa-angle-left mt-3"></i></label>
                                <label for="carousel-3"
                                    class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                                    class="fas fa-angle-right mt-3"></i></label>
                        
                                <!--Slide 3-->
                                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                                <div class="carousel-item opacity-0 fixed max-h-[30rem]" >
                                    <img src="images/ch3.jpg" alt="">
                                </div>
                                <label for="carousel-2"
                                    class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                                    class="fas fa-angle-left mt-3"></i></label>
                                <label for="carousel-1"
                                    class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                                    class="fas fa-angle-right mt-3"></i></label>
                        
                                <!-- Add additional indicators for each slide-->

                    
                            </div>
                          </div>

                    </div>
            </div>

        </div>
</body>
</html>